@import "./../../global.scss";

   .portfolioList{

       
             font-size: 12px;
             margin-right: 40px;
             padding: 10px;
             overflow: hidden;
             cursor: pointer;
             border-radius: 10px;
             @include mobile{
                margin-right: 20px
         
       }
    
        &.sun {
            background-color: #494395;
            color: white;
        }
        }
   
